.test__button_next {
    position: absolute;
    bottom: -72px;
    right: 31px;
    background-color: #E6E7EB;
    color: #9397A3;
    }

.test__button_next:hover { 
    background-color: #9397A3;
    color: #E6E7EB;
}