.test__answer-radio-visible{
    background-image: url(../../../images/radiobutton.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    padding-right: 10px;
}