.test__button_back{
    position: absolute;
    bottom: -72px;
    right: 239px;
    background-color: #FFFFFF;
    color: #ff6600;
    border: 1.2px solid #E6E7EB;
    width: 183px;
    }

.test__button_back:hover {
    color: #FFFFFF; 
    background-color: #ff6600;
}