.test__button_show-result-active{
    background-color: #FF6600;
    cursor: pointer;
}

.test__button_show-result-active:hover {
    opacity: 0.8;
    transition: opacity 0.2s linear;
    }

.test__button_show-result-active:active{
    transition: none;
    opacity: 0.6;
}

/* Активное состояние кнопки */