.test__answer-radio{
    width: 1px;
    height: 1px;
    opacity: 0;
}

.test__answer-radio:checked+.test__answer-radio-visible{
    background-image: url(../../../images/radiobutton-active.svg);
}

.test__answer-radio:checked~.test__answer-text{
    color: #F06000;
}

.test__answer-radio:hover+.test__answer-radio-visible{
    cursor: pointer;
}