.video__rewind {
    height: 100%;
    width: 468px;
    margin-right: 32px;
    border-radius: 16px;
    -webkit-appearance: none;
}


.video__rewind:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: #B8A6A6;
    height:6px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:#fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
