.test__task-icon_error {
  background-repeat: no-repeat;
  background-position: center;
  min-width: 20px;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-image: url(../../../images/icon_test5.svg);
}
