.video__fullscreen-button{
    background-image: url(../../../images/button-fullscreen.svg);
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.video__fullscreen-button:hover {
    opacity: 0.65;
 }
 
 .video__fullscreen-button:active {
     opacity: 0.4;
     transition: none;
  }