.test__answer-check{
    width: 1px;
    height: 1px;
    opacity: 0;
}

.test__answer-check:checked+.test__answer-check-visible{
    background-image: url(../../../images/checkbox-checked.svg);
}

.test__answer-check:checked~.test__answer-text{
    color: #F06000;
}

.test__answer-check:hover+.test__answer-check-visible{
    cursor: pointer;
}