.test__answer-check-visible{
    background-image: url(../../../images/checkbox-no-checked.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    padding-right: 8px;
}