.breadcrumbs__item {
	white-space: nowrap;
	font-family: 'Golos';
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	position: relative;
}

.breadcrumbs__item::after {
	content: "";
	position: absolute;
	top: 7px;
	right: -15.25px;
	width: 6.25px;
	height: 13px;
	background-image: url(../../../images/breadcrumbs-icon.svg);
	background-repeat: no-repeat;
}
